#app > .stack-of-pages > .classifier

  h2
    color: $dark-green
    font-size: 16px
    margin: 16px 0
    padding: 16px 0
    position: relative
    text-align: center
    text-transform: uppercase

    &:before,
    &:after
      content: " "
      position: absolute

    &:before
      background: rgba(232, 232, 232, 1)
      bottom: 0
      height: 1px
      left: calc(50% - 150px / 2)
      width: 150px

    &:after
      background: rgba(217, 217, 217, 1)
      border-radius: 50%
      bottom: -2px
      height: 5px
      left: calc(50% - 5px / 2)
      width: 5px

  .subject-container
    width: 720px
    margin: 0 auto

    svg
      display: block

    .marking-surface
      border-radius: 6px
      cursor: crosshair
      height: 536px
      width: 720px

    .marking-tool-controls
      background: rgba(#000, 0.67)
      color: #fff
      cursor: auto
      font-size: 12px
      padding: 3px
      position: absolute
      transform: translate(30px, -15px)

      .label
        display: inline-block
        font-weight: bold
        letter-spacing: 1px
        margin: 0 3px
        text-transform: uppercase
        vertical-align: middle

      button[name="delete-mark"]
        background: transparent
        border: 0
        color: inherit
        display: none
        font-size: 15px
        font-family: Arial
        height: 14px
        line-height: 0
        margin-left: -3px
        vertical-align: middle
        width: 14px
        z-index: 1

      .more
        display: none

        input[name="scale"]
          font-size: 14px
          text-align: center
          width: 60px

      &.selected

        button[name="delete-mark"]
          display: inline-block

        .more
          display: block

  .classifier-actions
    height: 50px
    line-height: 50px
    padding: 20px 0

    // this aint great
    .view-info,
    .view-guide
    .favorite-subject
      cursor: pointer
      display: inline-block

    .view-info,
    .view-guide
      box-sizing: border-box
      width: 49%

      i
        color: $green
        font-size: 24px
        padding: 0 15px

    .favorite-subject i
      font-size: 24px
      padding: 0 20px

      &.fa-heart
        color: $green

  &.is-tutorial-subject

    .favorite-subject
      @extends #_DISABLED_STATE
