.classifier
  .subject-container
    border-bottom: 1px solid #e9e9e9
    cursor: crosshair
    padding: 15px
    position: relative

    .summary-message
      background: rgba(#000, 0.75)
      bottom: 15px
      color: #fff
      display: none
      font-size: 30px
      left: 15px
      padding-top: 175px
      position: absolute
      right: 15px
      text-align: center
      top: 15px
      z-index: 1

      header
        color: $green
        font-size: 14px
        font-weight: bold
        letter-spacing: 1px
        text-transform: uppercase

    .marking-tool-controls
      background: rgba(#000, 0.67)
      color: #fff
      cursor: auto
      font-size: 12px
      padding: 3px
      position: absolute
      transform: translate(30px, -15px)

      .label
        display: inline-block
        font-weight: bold
        letter-spacing: 1px
        margin: 0 3px
        text-transform: uppercase
        vertical-align: middle

      button[name="delete-mark"]
        background: transparent
        border: 0
        color: inherit
        display: none
        font-size: 15px
        font-family: Arial
        height: 14px
        line-height: 0
        margin-left: -3px
        vertical-align: middle
        width: 14px
        z-index: 1

      .more
        display: none

        input[name="scale"]
          font-size: 14px
          text-align: center
          width: 60px

      &.selected
        // background: #000
        // box-shadow: 0 0 0 1px rgba(#fff, 0.5) inset, 0 1px 2px rgba(#000, 0.5)

        button[name="delete-mark"]
          display: inline-block

        .more
          display: block

  &.summary .subject-container .summary-message
    display: block

  .step
    border-top: 1px solid #fff
    display: none
    padding: 15px 15px 25px 90px
    position: relative

    &.stem
      background: url("./images/mark-stem.png") center left no-repeat

    &.lobules
      background: url("./images/mark-lobules.png") center left no-repeat

    &.active
      display: block

    .info
      position: relative

      .number
        color: $green
        font-size: 44px
        line-height: 1
        position: absolute
        right: 100%
        text-align: center
        top: 0
        width: 40px

      .title
        font-size: 22px

      .instruction
        font-size: 13px
        color: #999

    .controls
      bottom: 0
      padding: 15px 15px 20px
      position: absolute
      right: 0

      a,
      button
        @extend #standard-button
