.classifier .classification-summary
  background: rgba($dark-green, 0.8)
  display: none
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%

  .classification-summary-content
    box-sizing: border-box
    color: #eee
    height: 100%
    padding: 120px 120px 0 120px
    position: relative
    text-align: center

    i
      color: $green
      font-size: 24px
      padding: 0 14px

    .survey-space
      border-top: 1px solid rgba(white, 0.2)
      color: white
      font-size: 1.2em

    .action
      cursor: pointer
      margin: 10px 0
      padding: 10px 0
      transition: all 0.2s ease-in-out

      &:hover
        color: white

        i
          color: white

      a
        color: inherit

    .call-for-survey,
    .call-to-continue
      bottom: 0
      position: absolute

      p
        font-size: 14px
        padding: 15px 0
        position: relative

      a
        color: #ff0
        text-decoration: underline

    .call-for-survey
      height: 92px
      left: 20px
      text-align: left
      width: 220px

    .call-to-continue
      height: 70px
      right: 0
      width: 160px

      p:after
          border: 5px solid transparent
          border-top-color: white
          bottom: 0
          content: " "
          height: 0
          left: calc(50% - 3px)
          position: absolute
          width: 0
