.classifier .classification-summary
  background: rgba($dark-green, 0.8)
  display: none
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%

  .classification-summary-content
    box-sizing: border-box
    color: #eee
    height: 100%
    padding: 160px 120px 0 120px
    position: relative
    text-align: center

    h2
      color: white

    i
      color: $green
      font-size: 24px
      padding: 0 14px

    .action
      cursor: pointer
      transition: all 0.3s ease-in-out

      &:hover
        color: white

        i
          color: white

      a
        color: inherit

    .call-to-continue
      bottom: 0
      height: 70px
      position: absolute
      right: 0
      width: 160px

      p
        font-size: 14px
        padding: 15px 0
        position: relative

        &:after
          border: 5px solid transparent
          border-top-color: white
          bottom: 0
          content: " "
          height: 0
          left: calc(50% - 3px)
          position: absolute
          width: 0
