.stack-of-pages > .classifier

  .section-header
    color: $dark-green
    font-size: 16px
    font-weight: 700
    margin: 16px 0
    padding: 16px 0
    position: relative
    text-align: center
    text-transform: uppercase

    &:before,
    &:after
      content: " "
      position: absolute

    &:before
      background: rgba(232, 232, 232, 1)
      bottom: 0
      height: 1px
      left: calc(50% - 150px / 2)
      width: 150px

    &:after
      background: rgba(217, 217, 217, 1)
      border-radius: 50%
      bottom: -3px
      height: 6px
      left: calc(50% - 6px / 2)
      width: 6px

  .interface-container
    margin: 0 auto
    width: 720px

  .marking-surface-container
    border-radius: 6px
    position: relative

    svg
      display: block

    .marking-surface
      border-radius: 6px
      cursor: crosshair
      height: 536px
      outline: none
      position: relative
      width: 720px

    .marking-tool-controls
      background: rgba(#000, 0.67)
      color: #fff
      cursor: auto
      font-size: 12px
      padding: 3px
      position: absolute
      transform: translate(30px, -15px)

      .label
        display: inline-block
        font-weight: bold
        letter-spacing: 1px
        margin: 0 3px
        text-transform: uppercase
        vertical-align: middle

      button[name="delete-mark"]
        background: transparent
        border: 0
        color: inherit
        display: none
        font-size: 15px
        font-family: Arial
        height: 14px
        line-height: 0
        margin-left: -3px
        padding: 0
        vertical-align: middle
        width: 14px
        z-index: 1

      .more
        display: none

        input[name="scale"]
          font-size: 14px
          text-align: center
          width: 60px

      &.selected

        button[name="delete-mark"]
          display: inline-block

        .more
          display: block

  .classifier-actions
    height: 50px
    line-height: 50px
    padding: 20px 0

    // this aint great
    .prompt,
    .favorite-subject
      transition: all 0.3s ease-in-out

    .view-info,
    .view-guide,
    .favorite-subject,
    .dark-mode-toggle
      cursor: pointer
      display: inline-block

    .view-info,
    .view-guide
      box-sizing: border-box
      width: 49%

      i
        color: $green
        font-size: 24px
        padding: 0 15px

    .favorite-subject i
    .dark-mode-toggle i
      font-size: 24px
      padding: 0 12px

      &.fa-heart
        color: $green

    button[name="subject-action"]
      padding: 0
      width: 155px

      &.disabled
        @extends #_DISABLED_STATE

  &.is-tutorial-subject

    .favorite-subject
      @extends #_DISABLED_STATE

  .loader
    color: white
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)

  .fa-circle-o-notch
    font-size: 110px
    text-shadow: 0 0 5px rgba(black, 0.5)

  &.showing-summary

    .classifier-actions

      .favorite-subject,
      .prompt
        opacity: 0

  .location-information

    img
      border-radius: 4px
