$green = #38d77b
$dark-green = rgba(47, 135, 101, 1)
$page-width = 960px
$font-size = 16px
$navigation-height = 86px

// selectors only used to extend other selectors
#_ACTIVE_STATE
  background: $green
  color: white

#_DISABLED_STATE
  cursor: not-allowed !important
  opacity: 0.45  !important
  pointer-events: none  !important

#_SEMANTIC_LIST
  margin: 0
  padding: 0
  list-style: none

// common useful classes
.columns
  clearfix()

  > .column
    box-sizing: border-box
    float: left
    padding: 0 1em 0 0
    width: 50%

    &.one-third
      width: 33.3%

    &:last-child
      padding: 0

  &.pushed

    > .column
      text-align: center

      &:first-child
        text-align: left

      &:last-child
        text-align: right

.container
  margin: 0 auto
  width: $page-width

.faded
  opacity: 0.5

.float-left
  float: left

.float-right
  float: right

.center
  margin: 0 auto
  text-align: center

// styling base elements
a
  color: $green
  text-decoration: none

button

  &.action
    background: $green
    border: none
    border-radius: 6px
    color: white
    cursor: pointer
    font-size: $font-size
    height: 50px
    outline: none
    padding: 0 45px
    transition: all 0.2s ease-in-out

    &:hover
      background: darken($green, 30%)

  &.info
    background: none
    border: 2px solid white
    border-radius: 6px
    color: white
    cursor: pointer
    font-size: $font-size
    height: 50px
    outline: none
    padding: 0 30px
    transition: all 0.2s ease-in-out

    &:hover
      background: darken($green, 30%)

img
  max-width: 100%

p
  line-height: 1.5em
