$green = #73cb00

@keyframes progress
  0%
    background-position: 0 0

  100%
    background-position: 50px 0

.loader
  animation: 1s progress linear infinite
  background: linear-gradient(left top, transparent 25%, $green 25%, $green 50%, transparent 50%, transparent 75%, $green 75%)
  background-size: 25px 25px
  bottom: 5px
  display: none
  left: 5px
  opacity: 0.1
  position: absolute
  right: 5px
  top: 5px

.loading .loader
  display: block
