html.dark-mode

  body
    background: #282828
    color: #f6f6f6

    > .navigation
      background: rgba(black, 0.7)

      .zooniverse-top-bar
        color: white

  #footer
    background: #303030

  .zooniverse-profile
    > nav button[name="turn-page"]
      background: #333

      &:hover
        background: $green

    .zooniverse-paginator
      .controls button[name="page"]
        background: #333

        &:hover
          background: $green
