html.dark-mode

  body
    background: #2a2a2a
    color: #f6f6f6

    > .navigation
      background: rgba(black, 0.5)

      .zooniverse-top-bar
        color: white

  #app .stack-of-pages
    background: none

  #footer
    background: #333
