.stack-of-pages > .home
  padding-top: 100px

#site-banner
  background-image: url(./images/forest-colored.jpg)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  box-sizing: border-box
  color: white
  height: 715px
  opacity: 0
  padding: 140px 0 0 0 

  h1
    font-size: 52px

  a
    color: white
    font-size: 26px
    padding: 15px

@media screen and (min-width: 40rem)
  #site-banner .banner-content
    width: 60%
