$page-width = 1000px

body
  color: #777
  font-family: "proxima-nova",sans-serif
  font-size: 16px
  margin: 0
  padding: $navigation-height 0 0 0

#app
  background: white
  margin: 0 auto
  max-width: 960px

.stack-of-pages
  clearfix()

.sub-section-menu
  @extends #_SEMANTIC_LIST
  clearfix()

  li
    float: left

    a
      display: block
      padding: 10px 20px

      &.active
        background: $green
        color: white

#footer
  background: #f2f2f2
  margin: 100px 0 0 0
  padding: 50px 0

.zooniverse-footer a
  display: block
  padding: 1px 0
