$page-width = 1000px

body
  background: white
  color: #777
  font-family: "proxima-nova",sans-serif
  font-size: 16px
  margin: 0
  padding: $navigation-height 0 0 0

#app

  .stack-of-pages
    background: white
    margin: 0 auto
    width: 960px

  > .page
    display: none
    position: relative

    &.active
      display: block

  .section
    display: none

    &.active
      display: block

.sub-section-menu
  @extends #_SEMANTIC_LIST
  clearfix()

  li
    float: left

    a
      display: block
      padding: 10px 20px

      &.active
        background: $green
        color: white

#footer
  background: #f2f2f2
  padding: 50px 0
