$page-width = 1000px

html
  background: #333
  font: 14px "Helvetica Neue", sans-serif

body
  margin: 0

  > .field
    background: $green
    height: 50%
    left: 0
    position: fixed
    top: 0
    right: 0

#app
  position: relative

  > .page
    display: none
    position: relative

    &.active
      display: block

button
  background: transparent
  border: 0
  color: inherit
  cursor: pointer
  font: inherit
  margin: 0
  padding: 0

a
  color: darken($green, 15%)

.zootorial-dialog.tutorial
  max-width: 500px
  width: 500px
