body > .navigation
  background: rgba(white, 0.91)
  height: $navigation-height
  position: fixed
  top: 0
  width: 100%
  z-index: 2

  i
    cursor: pointer
    font-size: 24px
    padding: 10px 20px

  ul
    @extends #_SEMANTIC_LIST

    li
      display: inline-block
      vertical-align: baseline

      a
        border-radius: 6px
        box-sizing: border-box
        color: inherit
        line-height: $navigation-height
        padding: 10px 20px
        text-decoration: inherit

        &.logo
          font-size: 24px

        &:first-child
          padding-left: 1.2rem

        &:hover:not(.logo),
        &.active:not(.logo)
          @extends #_ACTIVE_STATE

  .zooniverse-top-bar
    background: none
    box-sizing: border-box
    color: black
    font-size: 1.2em
    height: 100%
    padding: 25px 25px 25px 0

    *
      font-family: "proxima-nova",sans-serif
      font-size: 14px
      font-weight: 400
      text-transform: none

    .corner
      display: none

    .current-user-name
      font-size: 14px

    .groups
      display: none

    .avatar
      img
        border-radius: 50%

