body > .navigation
  background: rgba(white, 0.9)
  height: $navigation-height
  position: fixed
  top: 0
  width: 100%
  z-index: 2

  ul
    @extends #_SEMANTIC_LIST

    li
      display: inline-block
      vertical-align: baseline

      a
        border-radius: 6px
        box-sizing: border-box
        color: inherit
        line-height: $navigation-height
        padding: 10px 20px
        text-decoration: inherit

        &.logo
          font-size: 24px

        &:first-child
          padding-left: 1.2rem

        &:hover:not(.logo),
        &.active:not(.logo)
          @extends #_ACTIVE_STATE
