.profile
  .zooniverse-login-form
    margin: 40px auto
    text-align: center
    width: 50%

    header
      font-size: 20px

    label
      display: block
      margin: 20px

      input
        background: #fff
        border: 1px solid #bbb
        border-radius: 3px
        box-shadow: 0 1px 1px #ccc inset, 0 2px 1px #fff
        box-sizing: border-box
        font-size: 16px
        padding: 10px
        width: 100%

    .error-message
      color: darken(#f00, 50%)

    .action
      margin: 20px

      button
        @extend #standard-button

    .no-account button
      text-decoration: underline

  > nav
    display: none

  > .page
    display: none

  &.signed-in
    .zooniverse-login-form
      display: none

    > nav,
    > .page.active
      display: block

  .items
    margin: 10px
    overflow: hidden

    .item
      box-sizing: border-box
      float: left
      padding: 10px
      width: 25%

      img
        max-width: 100%

  .controls
    clear: left
    margin: 10px 0 20px
    text-align: center

    button
      height: 24px
      letter-spacing: -2em
      overflow: hidden
      position: relative
      text-indent: -2em
      width: 24px

      &:before
        background: #999
        border-radius: 50%
        content: ""
        height: 8px
        left: 50%
        margin: -4px 0 0 -4px
        position: absolute
        top: 50%
        width: 8px

      &.active:before
        background: $green
