#_PROFILE_BUTTON
  background: white
  border: 0
  border-radius: 5px
  box-shadow: none
  color: $green
  cursor: pointer
  font-weight: 400
  outline: none
  text-shadow: none

  &:hover,
  &.active
    background: $green
    color: white

#user-stats
  border-bottom: 1px solid rgba(black, 0.2)
  margin: 2em 0
  padding: 2em 0

.user-name
  color: $green
  font-size: 36px
  margin: 1em 0
  text-align: center

.user-metrics
  display: flex
  justify-content: center

.user-metric-block
  box-sizing: border-box
  display: inline-block
  min-width: 25%
  padding: 5px

  .user-metric
    font-size: 1.1em
    font-weight: 700

.zooniverse-profile

  .sign-in-form
    padding: 40px 0 0 0

    input
      border: 1px solid #aaa
      box-shadow: none

    .action button,
    .no-account button
      @extends #_PROFILE_BUTTON
      @extends #_PROFILE_BUTTON.active

    .no-account button
      text-decoration: none

  > nav button[name="turn-page"]
    @extends #_PROFILE_BUTTON
    font-size: 16px
    padding: 8px 14px

  .zooniverse-paginator
    .controls button[name="page"]
      @extends #_PROFILE_BUTTON
      font-size: 14px
      margin: 0 2px

    .items .item

      &:hover
        background: $green

      a
        border-radius: 3px
        border: 0

        img
          border: none
          box-shadow: none
