.zootorial-tutorial
  
  .zootorial-content
    color: #777
    font-size: 14px
    line-height: 1.5em

  .zootorial-footer,
  .zootorial-instruction
    background: $green

  .zootorial-instruction
    border-radius: 0

  .zootorial-footer
    button
      border-radius: 2px
      box-shadow: none
      color: #444
      font-size: 16px
      padding: 6px 15px
